.contact {
    width: 100vw;
    min-height: 100vh;
    color: $color-1;
    
    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;

        .formulaire {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
            width: 80%;
            height: 500px;
            //border: 5px solid $color-1;

            @supports not (gap: 1rem) {
                & > *:not(:first-child) {
                    margin-top: 1rem;
                }
            }

            @media(max-width: 900px) {
                width: 100%;
            }

            &::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 100%;
                left: 0;
                z-index: -500;
                //background-color: #ba2d2d;

                @media(max-width: 900px) {
                    width: 50%;
                }
            }

            & > h1 {
                text-align: left;
            }

            & > input {
                width: 80%;
                padding: 10px;
                cursor: text;
            }

            & > textarea {
                width: 80%;
                min-height: 30%;
                resize: none;
            }

            & > button {
                cursor: pointer;
                padding: 10px 30px;
                background: transparent;
                border: 2px solid $color-1;
                color: $color-1;
                font-weight: bolder;
                transition: all .3s;

                &:hover {
                    background-color: $color-1;
                    color: $color-3;
                }
            }

            h1, input, textarea, button {
                margin-left: 10%;
            }
        }
    }
}