.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    color: $color-1;

    @supports not (gap: 20px) {
        & > *:not(:first-child) {
            margin-top: 20px;
        }
    }
    

    input, .input_card, #input-adresse, select {
        padding: 20px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: auto;
        background-color: $color-1;
    }

    select {
        cursor: pointer;
    }

    h1 {
        text-align: center;
        width: 100%;
    }

    .paymentNotSuccess {
        font-size: larger;
        text-align: center;
    }
    
    .reservation {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        padding: 0 1rem;

        @supports not (gap: 1rem) {
            & > *:not(:first-child) {
                margin-left: 1rem;
            }
        }

        @media(max-width: 900px) {
            flex-direction: column;
        }

        .resume {
            width: 50%;
            height: auto;
            border: 2px solid $color-1;
            padding: 1rem;
            background-color: $color-1;
            color: $color-3;

            @media(max-width: 900px) {
                width: 100%;
                min-height: 50vh;
            }

            .image {
                width: 100%;
                min-height: 250px;
            }

            .informations {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: xx-large;

                @supports not (gap: 1rem) {
                    & > *:not(:first-child) {
                        margin-top: 1rem;
                    }
                }

                span {
                    font-weight: bold;
                }

                @media(max-width: 900px) {
                    font-size: large;
                }
            }
        }

        #formulaire {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: 50%;
            height: auto;
            padding: 1rem;
            border: 2px solid $color-1;

            @supports not (gap: 1rem) {
                & > *:not(:first-child) {
                    margin-top: 1rem;
                }
            }
    
            @media(max-width: 900px) {
                border: none;
                width: 100%;
            }
    
            .radio {
                display: flex;
                gap: 10px;

                @supports not (gap: 10px) {
                    & > *:not(:first-child) {
                        margin-left: 10px;
                    }
                }
            }
    
            .prenom-nom, .email, .ville-code, .adresse, .telephone {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;

                @supports not (gap: 1rem) {
                    & > *:not(:first-child) {
                        margin-left: 1rem;
                    }
                }
            }
              
            #input-prenom, #input-nom, #input-code, #input-ville {
                width: 49%;
                border: 1px solid $color-3;
            }
              
            #input-email, #input-adresse, #bouton, #input-tel {
                width: 100%;
                border: 1px solid $color-3;
            }
    
            #bouton {
                font-size: xx-large;
                font-weight: bold;
                transition: all .3s ease-in-out;
    
                &:hover {
                    background-color: $color-3;
                    color: $color-1;
                    border: 2px solid $color-1;
                }
            }
            
        }
    }
}