.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: $color-1;
    width: 100%;
    min-height: 20vh;
    margin-top: auto;
    background-color: $color-4;

    @supports not (gap: 1rem) {
        & > *:not(:first-child) {
            margin-top: 1rem;
        }
    }

    & > p {
        width: 100%;
        text-align: center;
        border-top: 2px solid $color-1;
    }

    .first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 10px;

        .numero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            height: 100%;

            @supports not (gap: 1rem) {
                & > *:not(:first-child) {
                    margin-top: 1rem;
                }
            }

            & a {
                transition: all .3s;
              &:hover {
                  background-color: orange;
              }  
            }
        }
    }
}