.header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: $color-1;
    width: 100vw;
    border-bottom: 2px solid $color-1;
    padding-bottom: 5px;

    @media(max-width: 900px) {
        flex-direction: column;
    }

    .title {
        width: 400px;
        height: 150px;
        background: url('../../image/logo3.PNG') center/contain no-repeat;

        @media(max-width: 900px) {
            width: 100%;
        }
    }

    .nav {
        width: 50%;
        align-self: flex-end;

        @media(max-width: 900px) {
            width: 100%;
        }
        
    }
}